$g-white-color: #ffffff;
$g-black-color: #000000;
$g-backdrop-color: #f5f7fa;
$shadow: rgba(0, 0, 0, 0.15);
$bg-sidebar: #1e2939;
$link-side-color: #7d838c;
$sider-text-color: #d8dadd;
$marker-list-color: #ff6b08;
$block-info-text-color: #595959;
$date-info-color: #a8a8a8;
$work-info-color: #ff7011;
