.sidebar {
  background-color: $bg-sidebar;
  width: 330px;
  height: 100%;
}
.container-preview-photo {
  width: 330px;
  padding-top: 40px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 250px;
}

.preview-photo {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 auto;

  background-size: contain;
  // padding-top: 40px;
  border-radius: 50%;
}
.saide-title {
  margin-top: 0;
  margin-bottom: 20px;

  color: $g-white-color;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}
.skills-container {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .item-contacts {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// .contact {
//   color: #ffffff;
// }
.contact-symbol {
  color: $g-white-color;
  margin-right: 10px;
}

.sider-list {
  color: $marker-list-color;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9;
}

.sider-text {
  color: $sider-text-color;
}

.icon {
  width: 25px;
  height: 25px;
}
.sider-a {
  display: block;
  color: $link-side-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.09;
  fill: white;
  .icon-phone {
    transition: fill 250ms linear;
    &:hover {
      fill: #52db70;
      transition: fill 250ms linear;
    }
    &:focus {
      fill: #5dacfa;
      transition: fill 250ms linear;
    }
  }
  .icon-email {
    transition: fill 250ms linear;
    &:hover {
      fill: #5dacfa;
      transition: fill 250ms linear;
    }
    &:focus {
      fill: #5dacfa;
      transition: fill 250ms linear;
    }
  }
  .icon-linkedin {
    border-radius: 5px;
    transition: background-color 250ms linear;
    &:hover {
      background-color: #0a66c2;
      border-radius: 5px;
      transition: background-color 250ms linear;
    }
    &:focus {
      background-color: #0a66c2;
      border-radius: 5px;
      transition: background-color 250ms linear;
    }
  }
  .icon-github {
    transition: fill 250ms linear;
    &:hover {
      fill: #9941a6;
      transition: fill 250ms linear;
    }
    &:focus {
      fill: #9941a6;
      transition: fill 250ms linear;
    }
  }
  .icon-skype {
    transition: fill 250ms linear;
    &:hover {
      fill: #009ddc;
      transition: fill 250ms linear;
    }
    &:focus {
      fill: #009ddc;
      transition: fill 250ms linear;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.icon-email + .tooltiptext {
  margin-left: -110px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
