.study-container {
  .working-hours {
    margin-bottom: 25px;
  }
}
.title-institution {
  color: $work-info-color;

  margin-top: 0;
  margin-bottom: 15px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.study-profession {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
}
